
body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Contenitore{
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px inset black;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;
    box-sizing: border-box;
}

.Riga {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.Pulsante {
    background-color: rgba(0,0,0,0.4);
    flex: 0 0 auto;
    width: 100px;
    height: 130px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pulsante img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Pulsante:hover{
	background-color: #4CAF90;
	transition: background-color 1s;
	box-shadow: 10px 10px 20px gray;
}

            .Titolone{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                background-color: rgba(0,0,0,0.4);
                border: 3px inset black;
                border-radius: 10px;
                width: 73%;
                margin-bottom: 20px;
                height: 80px;
            }

            h1{
                text-align: center;
            }
            .Titoletti{
                border: 3px inset black;
                border-radius: 10px;
                height: 20%;
                width: 30%;
                margin: 0 auto;
                text-align: center;
            }
            iframe{
                width: 100%;
                height: 700px;
                border: 2px solid black;
                border-radius: 10px;
            }
            .Riga{
                display: flex;
                justify-content: center;
                gap: 80px;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            .Bottone{
                width: 80px;
                height: 130px;
                background-color: orange;
                border: 2px solid black;
                border-radius: 10px;
                cursor: pointer;
            }
            .Bottone:hover{
		        background-color: #4CAF90;
		        padding: 10px;
		        transition: background-color 1s;
		        box-shadow: 10px 10px 20px gray;
            }

